## Calender Dataset Cleaning

In [1]:
### import libraries 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

pd.set_option('display.max_columns',None)

In [2]:
### Import Calender Data set 

Data = pd.read_excel('/Users/inazawaelectronics/Desktop/Data-Analyst-Intern-Project/BUDGET SALES ANALYSIS/Data/AdventureWorks_Database.xlsx', sheet_name='Calender')
Data.head()

,Date,DateKey,Year,Quarter,MonthNum,Month,FiscalYear,FiscalQuarter,FiscalMonthNum,FiscalMonth,MonthYear,MonthYearLong,MonthYearNum,WeekdayNum,Weekday,WeekdayWeekend
0,2016-04-03,20160403,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,1,Sun,Weekend
1,2016-04-04,20160404,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,2,Mon,Weekday
2,2016-04-05,20160405,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,3,Tue,Weekday
3,2016-04-06,20160406,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,4,Wed,Weekday
4,2016-04-07,20160407,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,5,Thu,Weekday

In [3]:
### Identify the shape of the Dataset
Data.shape

(1461, 16)

In [4]:
#### identify the dataset columns 

Data.columns

Index(['Date', 'DateKey', 'Year', 'Quarter', 'MonthNum', 'Month', 'FiscalYear',
       'FiscalQuarter', 'FiscalMonthNum', 'FiscalMonth', 'MonthYear',
       'MonthYearLong', 'MonthYearNum', 'WeekdayNum', 'Weekday',
       'WeekdayWeekend'],
      dtype='object')

In [5]:
### find duplicate values

Data[Data.duplicated()]

Empty DataFrame
Columns: [Date, DateKey, Year, Quarter, MonthNum, Month, FiscalYear, FiscalQuarter, FiscalMonthNum, FiscalMonth, MonthYear, MonthYearLong, MonthYearNum, WeekdayNum, Weekday, WeekdayWeekend]
Index: []

#### No duplicate values in this dataset

In [7]:
## find the NULL Values in this data set 

Data.isnull().sum()

Date              0
DateKey           0
Year              0
Quarter           0
MonthNum          0
Month             0
FiscalYear        0
FiscalQuarter     0
FiscalMonthNum    0
FiscalMonth       0
MonthYear         0
MonthYearLong     0
MonthYearNum      0
WeekdayNum        0
Weekday           0
WeekdayWeekend    0
dtype: int64

#### No NAN Values in tis data set

In [8]:
Data.describe().T

,count,mean,std,min,25%,50%,75%,max
DateKey,1461.0,2.015567e+07,11186.298001,20140101.0,20150101.0,20160101.0,20161231.0,20171231.0
Year,1461.0,2.015500e+03,1.118111,2014.0,2015.0,2016.0,2016.0,2017.0
MonthNum,1461.0,6.522930e+00,3.449884,1.0,4.0,7.0,10.0,12.0
FiscalMonthNum,1461.0,6.477755e+00,3.459999,1.0,3.0,6.0,9.0,12.0
MonthYearNum,1461.0,2.015566e+05,111.862876,201401.0,201501.0,201601.0,201612.0,201712.0
WeekdayNum,1461.0,4.002053e+00,2.001197,1.0,2.0,4.0,6.0,7.0

In [9]:
Data.to_excel('Calender.xlsx', index= False)