## Product Dataset Cleaning

In [36]:
### import libraries 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

pd.set_option('display.max_columns',None)

In [37]:
### Import Calender Data set 

Data = pd.read_excel('/Users/inazawaelectronics/Desktop/Data-Analyst-Intern-Project/BUDGET SALES ANALYSIS/Data/AdventureWorks_Database.xlsx', sheet_name='Product')
Data.head()

,ProductKey,ProductName,SubCategory,Category,StandardCost,Color,ListPrice,DaysToManufacture,ProductLine,ModelName,Photo,ProductDescription,StartDate
0,1,Adjustable Race,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-06-01
1,2,Bearing Ball,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-06-01
2,3,BB Ball Bearing,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-06-01
3,4,Headset Ball Bearings,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-06-01
4,5,Blade,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...,NaN,1998-06-01

In [38]:
### Identify the shape of the Dataset
Data.shape

(606, 13)

In [39]:
#### identify the dataset columns 

Data.columns

Index(['ProductKey', 'ProductName', 'SubCategory', 'Category', 'StandardCost',
       'Color', 'ListPrice', 'DaysToManufacture', 'ProductLine', 'ModelName',
       'Photo', 'ProductDescription', 'StartDate'],
      dtype='object')

In [40]:
### find duplicate values

Data[Data.duplicated()]

Empty DataFrame
Columns: [ProductKey, ProductName, SubCategory, Category, StandardCost, Color, ListPrice, DaysToManufacture, ProductLine, ModelName, Photo, ProductDescription, StartDate]
Index: []

#### No duplicate values in this dataset

In [41]:
## find the NULL Values in this data set 

Data.isnull().sum()

ProductKey              0
ProductName             0
SubCategory           209
Category              209
StandardCost          211
Color                 254
ListPrice             211
DaysToManufacture       0
ProductLine           226
ModelName             209
Photo                   0
ProductDescription    210
StartDate               0
dtype: int64

In [42]:
for feature in Data.columns:
    print(f'{feature} has unique labels {len(Data[feature].unique())}')

ProductKey has unique labels 606
ProductName has unique labels 504
SubCategory has unique labels 38
Category has unique labels 5
StandardCost has unique labels 135
Color has unique labels 10
ListPrice has unique labels 121
DaysToManufacture has unique labels 4
ProductLine has unique labels 5
ModelName has unique labels 120
Photo has unique labels 606
ProductDescription has unique labels 115
StartDate has unique labels 4

In [43]:
### Let's Fill All the NAN Values with Mode

for feature in Data.columns:
    Data[feature].fillna(Data[feature].mode()[0], inplace= True)

In [44]:
Data.isnull().sum()

ProductKey            0
ProductName           0
SubCategory           0
Category              0
StandardCost          0
Color                 0
ListPrice             0
DaysToManufacture     0
ProductLine           0
ModelName             0
Photo                 0
ProductDescription    0
StartDate             0
dtype: int64

In [45]:
Data.head()

,ProductKey,ProductName,SubCategory,Category,StandardCost,Color,ListPrice,DaysToManufacture,ProductLine,ModelName,Photo,ProductDescription,StartDate
0,1,Adjustable Race,Road Frames,Components,413.1463,Black,306.5636,0,Road,LL Road Frame,http://www.avising.com/me/LearnPBI/DataSources...,"The LL Frame provides a safe comfortable ride,...",1998-06-01
1,2,Bearing Ball,Road Frames,Components,413.1463,Black,306.5636,0,Road,LL Road Frame,http://www.avising.com/me/LearnPBI/DataSources...,"The LL Frame provides a safe comfortable ride,...",1998-06-01
2,3,BB Ball Bearing,Road Frames,Components,413.1463,Black,306.5636,1,Road,LL Road Frame,http://www.avising.com/me/LearnPBI/DataSources...,"The LL Frame provides a safe comfortable ride,...",1998-06-01
3,4,Headset Ball Bearings,Road Frames,Components,413.1463,Black,306.5636,0,Road,LL Road Frame,http://www.avising.com/me/LearnPBI/DataSources...,"The LL Frame provides a safe comfortable ride,...",1998-06-01
4,5,Blade,Road Frames,Components,413.1463,Black,306.5636,1,Road,LL Road Frame,http://www.avising.com/me/LearnPBI/DataSources...,"The LL Frame provides a safe comfortable ride,...",1998-06-01

In [46]:
Data.to_excel('Product.xlsx', index= False)