## Territory Dataset Cleaning

In [1]:
### import libraries 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

pd.set_option('display.max_columns',None)

In [11]:
## import Customers Dataset

Data = pd.read_excel('/Users/inazawaelectronics/Desktop/Data-Analyst-Intern-Project/BUDGET SALES ANALYSIS/Data/AdventureWorks_Database.xlsx', sheet_name='Territory')
Data

,SalesTerritoryKey,Region,Country,Group,RegionImage
0,1,Northwest,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
1,2,Northeast,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
2,3,Central,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
3,4,Southwest,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
4,5,Southeast,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
5,6,Canada,Canada,North America,http://www.avising.com/me/LearnPBI/DataSources...
6,7,France,France,Europe,http://www.avising.com/me/LearnPBI/DataSources...
7,8,Germany,Germany,Europe,http://www.avising.com/me/LearnPBI/DataSources...
8,9,Australia,Australia,Pacific,http://www.avising.com/me/LearnPBI/DataSources...
9,10,United Kingdom,United Kingdom,Europe,http://www.avising.com/me/LearnPBI/DataSources...
10,11,NaN,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...

In [3]:
### Identify the shape of the Dataset
Data.shape

(11, 5)

In [4]:
#### identify the dataset columns 

Data.columns

Index(['SalesTerritoryKey', 'Region', 'Country', 'Group', 'RegionImage'], dtype='object')

In [5]:
### find duplicate values

Data[Data.duplicated()]

Empty DataFrame
Columns: [SalesTerritoryKey, Region, Country, Group, RegionImage]
Index: []

#### No duplicate values in this dataset

In [6]:
## find the NULL Values in this data set 

Data.isnull().sum()

SalesTerritoryKey    0
Region               1
Country              1
Group                1
RegionImage          0
dtype: int64

In [10]:
Data[Data.isna().any(axis=1)]

,SalesTerritoryKey,Region,Country,Group,RegionImage
10,11,NaN,NaN,NaN,http://www.avising.com/me/LearnPBI/DataSources...

In [12]:
### Let's Fill All the NAN Values with Mode

for feature in Data.columns:
    Data[feature].fillna(Data[feature].mode()[0], inplace= True)

In [13]:
Data

,SalesTerritoryKey,Region,Country,Group,RegionImage
0,1,Northwest,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
1,2,Northeast,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
2,3,Central,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
3,4,Southwest,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
4,5,Southeast,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...
5,6,Canada,Canada,North America,http://www.avising.com/me/LearnPBI/DataSources...
6,7,France,France,Europe,http://www.avising.com/me/LearnPBI/DataSources...
7,8,Germany,Germany,Europe,http://www.avising.com/me/LearnPBI/DataSources...
8,9,Australia,Australia,Pacific,http://www.avising.com/me/LearnPBI/DataSources...
9,10,United Kingdom,United Kingdom,Europe,http://www.avising.com/me/LearnPBI/DataSources...
10,11,Australia,United States,North America,http://www.avising.com/me/LearnPBI/DataSources...

In [14]:
Data.to_excel('Territory.xlsx', index= False)